<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
  <div class="card">
    <h2>Register new account</h2>
    <form th:action="@{/register}" method="post" th:object="${user}">
      <input type="text" name="username" placeholder="Username" th:field="*{username}" />
      <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
      <input type="password" name="password" placeholder="Password" th:field="*{password}" />
      <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <input type="submit" value="Register" />
      <a th:href="@{'/login'}">Log in instead</a>
    </form>
  </div>
</body>
</html>