<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Exercises</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <style>
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--border-primary);
        }

        .exercise-name {
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="card">
    <div class="header">
        <h2>Manage Exercises</h2>
        <div class="actions">
            <a class="back" th:href="@{'/'}"></a>
            <a class="add" th:href="@{'/exercise/create'}"></a>
        </div>
    </div>
    <ul th:if="${!exercises.isEmpty()}">
        <li th:each="exercise : ${exercises}">
            <span class="exercise-name" th:text="${exercise.name}"></span>
            <div class="actions">
                <a class="edit" th:href="@{'/exercise/edit/' + ${exercise.id}}"></a>
                <a th:href="@{'/exercise/delete/' + ${exercise.id}}" th:class="${usedExercises.contains(exercise) ? 'disabled delete' : 'delete'}"></a>
            </div>
        </li>
    </ul>
    <div class="empty-list" th:if="${exercises.isEmpty()}"></div>
</div>
</body>
</html>