<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Log</title>
</head>
<body>

<h2 th:text="${workoutLog.workoutName}"></h2>

<form method="post" th:action="'/workoutLog/save/' + ${workoutId}" th:object="${workoutLog}">

    <input type="hidden" name="logData" th:value="*{getISODate}">
    <input type="hidden" th:field="*{workoutName}">

    <div class="exercise" th:each="exerciseLog, exerciseStat : *{exerciseLogs}">
        <h3 th:text="${exerciseLog.exerciseName}"></h3>

        <input type="hidden" th:field="*{exerciseLogs[__${exerciseStat.index}__].exerciseName}">
        <input type="hidden" th:field="*{exerciseLogs[__${exerciseStat.index}__].muscleGroup}">
        <input type="hidden" th:field="*{exerciseLogs[__${exerciseStat.index}__].exerciseOrder}">

        <table>
            <thead>
            <tr>
                <th>Set</th>
                <th>Repetitions</th>
                <th>Weight</th>
            </tr>
            </thead>
            <tbody>
                <th:block th:each="setLog, setStat : *{exerciseLogs[__${exerciseStat.index}__].setLogs}">
                    <tr>
                        <input type="hidden" th:field="*{exerciseLogs[__${exerciseStat.index}__].setLogs[__${setStat.index}__].setOrder}">
                        <td th:text="${setStat.index + 1}"></td>
                        <td>
                            <input type="number" min="1" th:field="*{exerciseLogs[__${exerciseStat.index}__].setLogs[__${setStat.index}__].repetitions}" placeholder="Repetitions">
                        </td>
                        <td>
                            <input type="number" min="1" th:field="*{exerciseLogs[__${exerciseStat.index}__].setLogs[__${setStat.index}__].weight}" placeholder="Weight">
                        </td>
                    </tr>
                    <tr th:if="${#fields.hasErrors('exerciseLogs[' + exerciseStat.index + '].setLogs[' + setStat.index + '].repetitions')}" >
                        <td></td>
                        <td colspan="2" th:errors="*{exerciseLogs[__${exerciseStat.index}__].setLogs[__${setStat.index}__].repetitions}"></td>
                    </tr>
                    <tr th:if="${#fields.hasErrors('exerciseLogs[' + exerciseStat.index + '].setLogs[' + setStat.index + '].weight')}">
                        <td></td>
                        <td colspan="2" th:errors="*{exerciseLogs[__${exerciseStat.index}__].setLogs[__${setStat.index}__].weight}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>