<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${edit ? 'Edit Workout' : 'Create Workout'}"></title>
    <style>
        form {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
<form th:action="@{'/workout/save'}" method="post" th:object="${workout}">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{user}">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
    </div>
    <div class="exercise" th:each="exerciseWorkout, iStat : ${workout.exerciseWorkouts}">
        <input type="hidden" th:field="*{exerciseWorkouts[__${iStat.index}__].id}" />
        <input type="hidden" th:field="*{exerciseWorkouts[__${iStat.index}__].index}" th:value="${iStat.index}" />
        <select th:id="${'exerciseWorkouts[' + iStat.index + '].exercise.id'}" th:name="${'exerciseWorkouts[' + iStat.index + '].exercise.id'}">
            <option selected disabled value="">Select Exercise</option>
            <option th:each="exercise : ${existingExercises}"
                    th:value="${exercise.id}"
                    th:text="${exercise.name}"
                    th:selected="${exercise.id == exerciseWorkout.exercise.id}">
            </option>
        </select>
        <input type="number" th:field="*{exerciseWorkouts[__${iStat.index}__].sets}" min="1" />
        <button type="button" th:onclick="|removeExercise(${iStat.index}, '${edit}');|">Remove</button>
        <div>
            <span th:if="${#fields.hasErrors('exerciseWorkouts[' + iStat.index + '].exercise')}" th:errors="*{exerciseWorkouts[__${iStat.index}__].exercise}"></span>
            <span th:if="${#fields.hasErrors('exerciseWorkouts[' + iStat.index + '].sets')}" th:errors="*{exerciseWorkouts[__${iStat.index}__].sets}"></span>
        </div>
    </div>
    <button type="button" th:onclick="|createExercise('${edit}');|">Create Exercise</button>
    <button type="button" th:onclick="|addExercise('${edit}');|">Add Exercise</button>
    <input type="submit" value="Save" />
</form>
</body>
</html>

<script>
    const form = document.querySelector('form');

    function addExercise(isEdit) {
        form.action = '/workout/addExercise?edit=' + isEdit;
        form.submit();
    }

    function createExercise(edit) {
        form.action = '/exercise/create?editWorkout=' + edit;
        form.submit();
    }

    function removeExercise(index, edit) {
        form.action = `/workout/removeExercise/${index}?edit=${edit}`;
        form.submit();
    }
</script>