<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${edit ? 'Edit Workout' : 'Create Workout'}"></title>
    <style>
        form {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
<form th:action="@{'/workout/save'}" method="post" th:object="${workout}">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" th:field="*{name}" />
    </div>
    <th:div class="exercise" th:each="exerciseWorkout, iStat : ${workout.exerciseWorkouts}">
        <input type="hidden" th:field="*{exerciseWorkouts[__${iStat.index}__].id}" />
        <input type="hidden" th:field="*{exerciseWorkouts[__${iStat.index}__].index}" th:value="${iStat.index}" />
        <select th:field="*{exerciseWorkouts[__${iStat.index}__].exercise}">
            <option th:each="exercise : ${existingExercises}" th:value="${exercise.id}" th:text="${exercise.name}"></option>
        </select>
        <input type="number" th:field="*{exerciseWorkouts[__${iStat.index}__].sets}" />
    </th:div>
    <button type="button">Create Exercise</button>
    <button type="button" th:onclick="|addExercise('${edit}');|">Add Exercise</button>
    <input type="submit" value="Save" />
</form>
</body>
</html>

<script>
    function addExercise(isEdit) {
        console.log(isEdit)
        const form = document.querySelector('form');
        form.action = '/workout/addExercise?edit=' + isEdit;
        form.submit();
    }


</script>